<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
    <!--<add name="cnDefault" connectionString="Data Source=mctiprogra8;Initial Catalog=DbPV; integrated security=yes; timeout=120"
        providerName="System.Data.SqlClient" />-->
  <add name="cnDefault" connectionString="Data Source=KKROT-PC\SQLEXPRESS;Initial Catalog=DbPV; user Id=sa; password=1342;connection timeout=120"
        providerName="System.Data.SqlClient" />
    <add name="PV.Properties.Settings.DBPVConnectionStringREPORTS"
        connectionString="Data Source=KKROT-PC\SQLEXPRESS;Initial Catalog=DBPV;Persist Security Info=True;User ID=sa;Password=1342"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>